<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>meeting room</title>
</head>
<body>
    <div class="card bg-dark text-light">
        <div class="card-body">
            <canvas id="my_canvas" width="800" height="400"></canvas>
            <canvas id="Other_canvas" width="800" height="400"></canvas>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        const my_canvas = document.getElementById("my_canvas");
        const my_ctx = my_canvas.getContext("2d");
        my_ctx.fillStyle = "#FF0000";
        my_ctx.fillRect(0, 0, 800, 400);


        const Other_canvas = document.getElementById("Other_canvas");
        const Other_ctx = Other_canvas.getContext("2d");
        Other_ctx.fillStyle = "#FF0000";
        Other_ctx.fillRect(0, 0, 800, 400);



        my_canvas.addEventListener('mousemove',(e)=>{

            my_ctx.beginPath();
            // ctx.arc(100,100,20,0,2*Math.PI);
            my_ctx.arc(e.clientX,e.clientY,20,0,2*Math.PI)
            my_ctx.stroke();

            Other_canvas.drawImage(my_canvas,0,0)
            my_canvas.style.cursor="none";
        })

    </script>
    

</body>
</html>